= table.column :id
= table.column :title
= table.column :pathname
= table.column :basename
= table.column :locale
= table.column :format
= table.column :handler
= table.column :created_at
= table.column :updated_at
